/* Light Theme */
body.light-theme {
    background-color: #f5f5f5;
    color: #333;
}
/* Dark Theme */
body.dark-theme {
    background-color: #1c1c1c;
    color: #f5f5f5;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
#logo_link:hover {
    background-color: #333;
    cursor: default
}

#logo_img {
    cursor: pointer
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: #575757;
}
.navbar a.active {
    background-color: #ffa600;
}
.theme-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}
.theme-switch input {
    display: none;
}

/* General styles for the slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c3e50; /* Dark mode (moon color) */
    transition: 0.4s;
    border-radius: 34px;
    display: flex;
    justify-content: center; /* Center by default */
    align-items: center; /* Vertically center */
    font-size: 12px;
    padding: 0; /* Remove any padding */
}

/* Moon (Dark Mode) */
.slider:before {
    content: "\1F319"; /* Unicode for crescent moon */
    color: white;
    transition: 0.4s;
    font-size: 16px;
}

/* Light Mode (Sun Symbol) */
input:checked + .slider {
    background-color: #f1c40f; /* Light mode (sun color) */
    justify-content: center; /* Keep the symbol centered */
}

/* Change the symbol when checked (Light Mode) */
input:checked + .slider:before {
    content: "\2600"; /* Unicode for sun */
    color: white;
}


.overlay {
    display: none; /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 9999; /* Ensure it's on top */
}

.overlay video {
    max-width: 100%;  /* Ensure the video never exceeds the screen width */
    max-height: 100%; /* Ensure the video never exceeds the screen height */
    width: auto;
    height: auto;
    object-fit: contain; /* Ensures the entire video is shown within its container */
}

.content {
    display: block; /* Show content by default */
}

/* Portrait mode: Show the overlay and hide main content */
@media (orientation: portrait) {
    .overlay {
        display: flex;
    }
    .content {
        display: none;
    }
}

/* Landscape mode: Hide the overlay and show main content */
@media (orientation: landscape) {
    .overlay {
        display: none;
    }
    .content {
        display: block;
    }
}
